
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

h3{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

@media (max-width:600px){
    h3{
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.parent{
    display: flex;
    justify-content: center;
}

.real{
    width: 552px;
    height: 570px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    /* margin: center; */
    margin-top: 160px;
    margin-bottom: 50px;
}

@media (max-width: 600px){
    .real{
        width: 360px;
        height: 560px;
        padding: 25px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        /* margin: center; */
        margin-top: 155px;
        margin-bottom: 45px;
    }
}

.real .title{
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: #9ECDCA;
    padding-bottom: 26px;
}

footer{
    background-color: #9ECDCA;
    position: relative;
    bottom: 0;
    width: 100%;
}

.text_footer{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
